./Backend/node_modules
./Backend/package-lock.json
./Backend/dist
./Backend/.env
./Backend/.env.example
./Backend/.env.local
./Backend/.env.development
./Backend/.env.production
./Backend/.env.test
./Backend/.env.development.local
./Backend/.env.test.local

./Frontend/node_modules
./Frontend/package-lock.json
./Frontend/dist
./Frontend/.env
./Frontend/.env.example
./Frontend/.env.local
./Frontend/.env.development
